.header-wrapper{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 99;
    background-color: white;
    height: 80px;
}
header{
    /*position: fixed;*/
    /*background-color: gray;*/
    width: 90%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;

}
header nav{
    list-style: none;
}
header a{
    color: black;
    text-decoration: none;
}
.burger-menu{
    margin-bottom: 80px;
}
.burger-menu__nav{
    width: 40%;
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .6s;
    height: 70%;
    /*min-height: 550px;*/
    overflow-y: auto;
    right: -100%;
    background-color: white;
}
.burger-menu_active .burger-menu__nav{
    transition: .6s;
    right: 0;
}
.burger-menu__link{
    font-size: 32px;
    padding: 20px;
    font-family: "Montserrat";
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: black;

}
.burger-menu__link:hover{
    opacity: .8;
}
.burger-menu__overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: background 0.6s ease;
}
.burger-menu_active .burger-menu__overlay{
    display: block;
    background: rgba(0, 0, 0, 0.5);
    transition: background 0.6s ease;
}
/* Animated button */
.burger-menu__button{
    position: fixed;
    top: 15px;
    right: 5%;
    z-index: 30;
    width: 50px;
    height: 50px;
    z-index: 30;
}
.burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.7);
}
.burger-menu__lines, .burger-menu__lines::after,.burger-menu__lines::before{
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: black;
    transition: .6s;
}
.burger-menu__lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .6s;
}
.burger-menu__lines::before{
    content: '';
    top: -12px;
    transition: .6s;
}
.burger-menu__lines::after{
    content: '';
    top: 12px;
    transition: .6s;
}
.burger-menu_active .burger-menu__lines{
    background-color: transparent;
}
.burger-menu_active .burger-menu__lines::before{
    top: 0;
    transform: rotate(45deg);
    transition: .6s;
}
.burger-menu_active .burger-menu__lines::after{
    top: 0;
    transform: rotate(-45deg);
    transition: .6s;
}
.header-logo{
    /*position: absolute;*/
    top: 30px;
    width: 200px;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.header-logo img{
    width: 200px;
    height: auto;
}
/* Animated button */
@media (max-width: 1024px) {
    .burger-menu__nav{
        width: 50%;
    }
}
@media (max-width: 767px) {
    .burger-menu__nav{
        width: 100%;
        height: 100%;
    }
}
