/*@font-face {*/
/*    font-family: 'Pridi-Light';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: local('Pridi-Light'), local('Pridi-Light'), url('../fonts/Pridi-Light.woff2') format('woff2'), url('../fonts/Pridi-Light.woff') format('woff')*/
/*}*/
/*@font-face {*/
/*    font-family: Montserrat;*/
/*    src: url("../fonts/Pridi-Light.ttf") format("ttf");*/
/*}*/
.header-banner-wrapper{
    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    font-family: Montserrat;
}
.header-banner{
    width: 90%;
    min-height: 500px;
    height: auto;
    background-color: #F7F7F5;
    border: 1px solid transparent;border-radius: 25px;
    padding-bottom: 50px;
}
.header-top-info{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    font-family: Montserrat;
}
.title-description{
    max-width: 700px;
    font-size: 1rem;
    font-family: Montserrat;
}
.sale-title{
    /*width: 250px;*/
    /*height: 30px;*/
    padding: 5px 20px 5px 20px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #FFF708;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: Montserrat;
}
.sale-title img{
    width: 30px;
    margin-right: 10px;
}
.header-banner-sides{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.header-banner-left-side{
    width: 55%;
}
.header-banner-left-side h1{
    font-size: 2.4rem;
    width: 70%;
    font-weight: bolder;
}
.header-banner-left-side .header-banner-text{
    margin-top: 20px;
    font-size: 1rem;
    width: 95%;
    line-height: 1.5em;
}
.header-banner-right-side{
    width: 43%;
}
.header-banner-right-side img{
    width: 100%;
    max-width: 500px;
}
.header-banner-btn{
    width: 200px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    margin-left: 5%;
    margin-top: 40px;
    color: white;
    background-color: #3F29FF;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 1.2rem;
}
.header-list{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 25px;
}
.header-list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
}
.header-list-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.3rem;
}
.header-list-text{
    margin-top: 10px;
    font-size: 1rem;
}
.header-list-point{
    background-color: black;
    border: 1px solid transparent;
    border-radius: 90px;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 10px;
    left: -15px;
}
@media (max-width: 1070px) {
    .title-description{
        width: 45%;
    }
    .header-list-title {
        font-size: 1.3rem;
        height: 45px;
    }
}
@media (max-width: 1024px) {
    .title-description{
        width: 45%;
    }
}
@media (max-width: 767px) {
    .header-banner-sides{
        flex-direction: column;
    }
    .header-banner-right-side, .header-banner-left-side{
        width: 90%;
    }
    .header-banner-left-side h1 {
        font-size: 2.2rem;
        width: 70%;
        font-weight: bolder;
    }
    .title-description {
        max-width: 700px;
        font-size: .85rem;
    }
    .header-top-info{
        flex-direction: column;
    }
    .title-description{
        width: 90%;
    }
    .sale-title{
        margin-top: 30px;
    }
    .header-banner-sides {
        margin-top: 30px;
    }
    .header-banner-right-side{
        margin-top: 30px;
    }
    .header-list{
        width: 85%;
        margin: 0 auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 25px;
    }
}
@media (max-width: 767px) {
    .header-banner-left-side h1 {
        font-size: 2rem;
    }
    .header-banner-left-side .header-banner-text {
        margin-top: 20px;
        font-size: 1rem;
        width: 100%;
    }
    .header-list-text{
        margin-top: 5px;
        font-size: 1rem;
    }
}
@media (max-width: 450px) {
    .header-list {
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .header-list-title{
        height: 35px;
    }
}