header a {
    text-decoration: none;
    color: #26506C;
}
li{
    list-style: none;
}
.left_sidebar{
    display: none;
}
.header-wrapper{
    width: 100%;
    max-height: 1300px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    background: none;
    background-position: right;
}
.header-menu-wrapper{
    width: 100%;
    position: relative;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    /*align-items: center;*/
    margin: 0 auto;
    color: white;
    justify-content: space-between;
    font-size: .9rem;
    position: relative;
    z-index: 9;
    font-family: 'Roboto';
}
.header-menu{
    display: flex;
    justify-content: flex-end;
    /*width: 40%;*/
    margin-right: 5%;
}
.logo{
    width: 550px;
    height: auto;
}
.header-menu ul{
    display: flex;
    align-items: center;
}
.header-menu ul li{
    margin-left: 17px;
    margin-right: 17px;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1.5px solid transparent;
    list-style: none;
    color: #26506C;
}
.header-menu ul li:hover a{
    color: #2D9A9F;
}
.phone-select{
    padding-right: 10px;
}
@media (max-width: 1250px) {
    .header-menu ul li{
        font-size: .9rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    .header-wrapper{
        width: 100%;
    }
    .header-banner{
        margin-top: 240px;
    }
    .logo{
        width: 500px;
    }
}
@media (max-width: 1024px) {
    .header-contact-wrapper p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .logo{
        width: 350px;
    }
    .header-menu ul li{
        font-size: .83rem;
        margin-left: 5px;
        margin-right: 5px;
    }
    .laguage-select {
        display: none;
    }
    .header-menu{
        align-items: center;
        margin-right: 5px;
    }
    .header-banner{
        margin-top: 80px;
    }
    .header-wrapper{
        width: 100%;
    }
    .header-contact-wrapper{
        width: 180px;
        height: 40px;
    }
    .header-contact-wrapper p{
        line-height: 30px;
    }
    .header-navigation-wrapper nav ul{
        display: flex;
        width: 700px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    .header-navigation-wrapper nav ul li{
        font-size: .82rem;
        text-align: center;
    }
}
@media (max-width: 769px) {
    .header-wrapper{
        width: 100%;
    }
    .header-banner{
        margin-top: 20px;
        margin-left: 25px;
        width: 35%;
    }
    .header-menu{
        display: none;
    }
    .header-navigation-wrapper{
        display: none;
    }
    .phone-select{
        display: none;
    }
    .social-nav{
        display: none;
    }
    .banner-info-main-text {
        margin-top: 50px;
    }
    header{
        width: 100%;
    }
    .header-menu{
        display: none;
    }
    .mobile-menu-header{
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    .mobile-menu-social{
        width: 40%;
        display: flex;
        margin-bottom: 40px;
    }
    .mobile-menu-social img{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .mobile-menu-phone-wrapper{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: .7px solid lightgray;
        border-bottom: .7px solid lightgray;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .mobile-menu-phone-wrapper p{
        color: black;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mobile-menu-language-select{
        width: 65px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    /* BURGER MENU */
    .left_sidebar{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: white;
        color: black;
        height: 100%;
        left: 0;top: 0;
        z-index: 99;
        align-items: center;
        transition: 0.5s;
        transform: translateX(100%);
        /*overflow-x: hidden;*/
        /*overflow-y: auto;*/
    }
    .left_sidebar a{
        color: black;
    }
    .mobile-menu-header-logo{
        width: 150px;
        margin-top: 20px;
    }
    /* Demo Buttons Style */
    .codrops-demos {
        padding-top: 1em;
        font-size: 20px;
    }
    .codrops-demos a {
        display: inline-block;
        margin: 0.35em 0.1em;
        padding: 0.5em 1.2em;
        outline: none;
        text-decoration: none;
        /*text-transform: uppercase;*/
        letter-spacing: 1px;
        font-weight: 800;
        border-radius: 10px;
        font-size: 20px;
        border: 2px solid transparent;

    }

    .codrops-demos_sidebar a {
        /*display: inline-block;*/
        margin: 0.35em 0.1em;
        padding: 0.5em 1.2em;
        outline: none;
        text-decoration: none;
        /*text-transform: uppercase;*/
        letter-spacing: 1px;
        font-weight: 800;
        border-radius: 10px;
        border: 2px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: black;
        font-family: Roboto;
    }
    .codrops-demos_sidebar{
        font-family: Roboto;
        /*position: absolute;*/
        top: 20%;
        bottom: 20%;
        padding-top: 1em;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }
    .menu_button{
        display: flex;
        width: 50px;
        height: auto;
        position: absolute;
        left: -80px;
        top: 22px;
        z-index: 1000;
        cursor: pointer;
    }
    .cancel_button{
        width: 30px;
        height: auto;
        position: absolute;
        left: 25px;
        top: 25px;
    }
    .menu_active {
        transform: translateX(0%);
    }
    .content_active {
        transform: translateX(-100%);
    }
    .codrops-demos_sidebar a:hover,
    .codrops-demos_sidebar a.current-demo {
        color: black;
        border-color: black;
    }
}
@media (max-width: 680px){
    .header-contact-wrapper{
        display: none;
    }
    .header-wrapper{
        background: none;
        height: auto;
    }
    .header-banner{
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        margin: 0 auto;
    }
    .popup-call-back .popup-content{
        width: 70%;
        height: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5rem 1.5rem;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .popup-title{
        width: 100%;
        font-size: 1.3rem;
    }
    .popup-call-back-result .popup-content{
        width: 70%;
        height: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5rem 1.5rem;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .popup-call-back-result .popup-content p{
        font-size: 1.4rem;
    }
}
@media (max-width: 525px) {
    .back-call{
        display: none;
    }

    .header-contact-wrapper{
        display: none;
    }
    .header-banner-title, .header-banner-text{
        margin-left: 0;
        text-align: center;
    }
}
@media (max-width: 425px) {
    header {
        width: 100%;
    }
    .header-banner {
        width: 85%;
    }
    .menu_button{
        width: 40px;
        top: 26px
    }
    .header-banner img{
        width: 220px;
    }
    .logo{
        width: 300px;
    }
}
@media (max-width: 360px) {
    .mobile-menu-header-logo{
        width: 150px;
        margin-top: 20px;
    }
}
