body{
    width: 100%;
    margin: 0;
    position: relative;
}

a{
    text-decoration: none;
}

/*Experience-start*/

.experience-wrapper{
    width: 100%;
    margin-bottom: 180px;
    margin-top: 100px;
}

.experience{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    padding-top: 100px;
    align-items: flex-end;

}

.experience-info-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

.experience-info-wrapper img{
    max-width: 55%;
    height: 485px;
}

.experience-info{
    margin-left: 150px;
}

.experience-title{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
    margin-bottom: 54px;
    font-family: Montserrat;
}

.experience-text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    font-family: Montserrat;
}

.experience-add_text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-bottom: 100px;
    font-family: Montserrat;
}

.experience button{
    cursor: pointer;
    font-size: 1.2rem;
    width: 200px;
    height: 60px;
    background-color: #3F29FF;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 100px;
    margin-right: 50px;
}

/*Experience-End*/

/*Case-Start*/

.case-title-block{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    color: #090000;
    margin-bottom: 85px;
    margin-top: 50px;
}

.case-wrapper{
    background-color: #F7F7F5;
    margin-top: 30px;
    padding: 20px 20px;
    font-family: Montserrat;
}


.cases-wrapper-block{
    margin: 0 auto;
    max-width: 1200px;
}

.dark-side{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.45;
    z-index: 2;
    max-width: 1200px;
    min-height: 500px;
    padding-bottom: 50px;
    background-color: #000000;
    border-radius: 20px;
}

.dark-side-img{
    z-index: 3;
    position: absolute;
    width: 120px;
    left: 45%;
    top: 40%;
    display: none;
}

.case:hover .dark-side-img{
    display: block;
}

.case{
    position: relative;
    max-width: 1200px;
    min-height: 500px;
    height: auto;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 25px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.case-top-info{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    font-family: Montserrat;
}

.case-sale-title{
    width: 285px;
    margin-bottom: 40px;
    padding: 5px 20px 5px 20px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #FFF708;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Montserrat;
}
.case-image{
    width: 30px;
    margin-right: 10px;
}
.case-sides{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 auto;
    margin-top: 40px;
}
.case-left-side{
    width: 55%;
}
.case-left-side h1{
    font-size: 2.4rem;
    width: 70%;
    font-weight: bolder;
    width: 95%;
}
.case-left-side .case-text{
    margin-top: 35px;
    font-size: 1.3rem;
    width: 95%;
    line-height: 1.5em;
}

.case-right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 43%;
}

.case-bottom{
    margin: 0 auto;
    width: 90%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.case-price{
    display: flex;
    align-items: center;
}

.case-image{
    width: 100%;
    max-width: 500px;
    max-height: 380px;
}
.case-btn{
    cursor: pointer;
    width: 200px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    color: white;
    background-color: #3F29FF;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 1.2rem;
}

.new-price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 130px;
    color: #090000;
    margin-right: 20px;
}

.old-price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #C3C2BE;
    text-decoration: line-through;
}

/*Case-End*/

/*Learn-Start*/

.learn-point{
    max-width: 1200px;
    margin: 0px auto;
}

.learn-point h2{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
}

.point-wrapper{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.point{
    max-width: 300px;
    margin-bottom: 80px;
}

.point img{
    width: 27px;
    height: 27px;
    margin-bottom: 20px;
}

.point-title{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    margin-bottom: 20px;
    font-family: Montserrat;
}

.point-text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    font-family: Montserrat;
}

/*Learn-End*/

/*About-us-Start*/

.about-us-wrapper{
    padding: 20px;
}

.about-us{
    max-width: 1200px;
    margin: 0px auto;
    background-color: #F7F7F5;
    border-radius: 30px;
    padding: 40px 20px;
}

.about-us-title{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
    font-family: Montserrat;
}

.about-us-text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-bottom: 160px;
    font-family: Montserrat;
}

.about-us-image{
    display: flex;
}

.about-us-image img{
    width: 50%;
}

.about-us-image span {
    font-style: normal;
    font-weight: bold;
    color: #090000;
}

.about-us-image p{
    margin-top: 20px;
    margin-left: 40px;
    font-family: Montserrat;
}




/*About-us-End*/

/*Footer-start*/

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}



footer h2{
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18px;
}
.info-footer{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.info-footer-wrapper{
    display: flex;
}

.info-footer-wrapper p{
    font-family: Montserrat;
    margin-right: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
}

.info-footer-right{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}

.made-by{
    font-family: Montserrat;
    color: #FFFFFF;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.made-by img{
    margin-left: 15px;
    width: 23px;
}

.about-course-wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Montserrat;
    margin-top: 100px;
}
.about-course-title{
    max-width: 400px;
    font-size: 2.4rem;
    font-weight: bold;
}
.about-course-items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 45px;
}
.about-course-item{
    display: flex;
    flex-direction: column;
}
.about-course-item-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
}
.about-course-item-img img{
    width: 100%;
    max-width: 300px;
}
.about-course-item-title{
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: bold;
}
.about-course-item-text{
    font-size: 1rem;
    margin-top: 25px;
}
.education-tutorial-wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: rgb(36,36,36);
    background: linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(36,36,36,1) 28%, rgba(67,67,69,1) 55%);
    padding-top: 40px;
    padding-bottom: 70px;
    font-family: Montserrat;
}
.education-tutorial-title{
    color: white;
    font-size: 2rem;
    margin-left: 5%;
}
.education-tutorial-items{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 100px;
}
.education-tutorial-item{
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;

    color: white;
}
.education-tutorial-item-number img{
    width: 40px;
    padding-top: 15px;
    padding-left: 15px;
}
.education-tutorial-item-title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px;
}
.education-tutorial-text{
    height: 150px;
    padding-left: 15px;
}
.education-tutorial-image{
    width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education-tutorial-image img{
    width: 70%;
    max-height: 130px;
}
/*faq-wrapper-Start*/

.faq{
    width: 100%;
}

.faq-wrapper{
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
    margin-top: 120px;
    padding-bottom: 90px;
}

.faq-title{
    width: 35%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
   font-size: 2.8rem;
    /*line-height: 170%;*/
    color: #141313;
}

.faq-title p{
    padding: 0;
    margin: 0;
}

.faq-info-wrapper{
    width: 70%;
}

.faq-info{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #808080;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-family: Montserrat;
}

.faq-info-top-title {
    width: 80%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    /* line-height: 170%; */
    color: #141313;
    font-weight: bold;
}

.faq-text{
    display: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #141313;
    width: 75%;
    margin-top: 20px;
}

.faq-info-top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-info:nth-child(1){
    border-top: 1px solid #808080;
    padding-top: 30px;
}

.faq-info-button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    transition: background-color .5s;
}
.faq-info-button img{
    width: 40px;
    height: 40px;
}
.faq-button-cancel img{
    width: 40px;
    height: 40px;
}
.faq-button-cancel{
    display: none;
    cursor: pointer;
    width:40px;
    height: 40px;
    /*border: 1px solid #EC7505;*/
    background-color: #EC7505;
    margin-right: 20px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    transition: background-color .5s;
}
.faq-button-cancel img{
    transform: rotate(45deg);
    transition: transform .5s;
}
.faq-button-cancel img{
    transition: transform .5s;
}

/*faq-wrapper-End*/


+/*About-us-Start*/

.about-us-wrapper{
    padding: 20px;
}

.about-us{
    max-width: 1200px;
    margin: 0px auto;
    background-color: #F7F7F5;
    border-radius: 30px;
    padding: 40px 20px;
}

.about-us-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.about-us-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-bottom: 160px;
}

.about-us-image{
    display: flex;
}

.about-us-image img{
    width: 50%;
}

.about-us-image span {
    font-style: normal;
    font-weight: bold;
    color: #090000;
}

.about-us-image p{
    margin-top: 20px;
    margin-left: 40px;
    font-family: Montserrat;
}




/*About-us-End*/



@media (max-width: 1200px) {


    /*.experience-wrapper{*/
        /*padding-left: 10px;*/
        /*padding-right: 10px;*/
    /*}*/

    .experience-info-wrapper img {
        max-width: 75%;
        height: 420px;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .experience-info-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 75px;
    }

    .experience-info {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .learn-point{
        padding: 20px;
    }
}
@media (max-width: 1024px) {

    .experience {
        max-width: 90%;
    }

    .faq-wrapper{
        flex-direction: column;
    }
    .faq-title {
        width: 35%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 2.8rem;
        color: #141313;
        margin-bottom: 40px;
    }
    .faq-info-wrapper{
        width: 100%;
    }
}
@media (max-width: 1000px) {

    .point-wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .about-course-item-img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 230px;
    }
    .about-course-item-img img{
        width: 100%;
        max-width: 300px;
    }
    .about-course-items{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 35px;
    }
    .education-tutorial-items{
        width: 90%;
        grid-row-gap: 10px;
    }

    .education-tutorial-item-title{
        margin-top: 30px;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 15px;
    }
    .education-tutorial-text{
        height: 150px;
        padding-left: 15px;
    }
    .education-tutorial-image{
        width: 100%;
        height: 130px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .education-tutorial-image img{
        width: 70%;
        max-height: 130px;
    }
}

@media (max-width: 768px) {

    .new-price {
        font-size: 45px;
    }
    .old-price {
        font-size: 25px;
    }

    .experience-info-wrapper img {
        width: 70%;
        height: 300px;
    }

    .experience {
        align-items: start;
    }

    .about-us-image{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-us-image img{
        width: 80%;
    }

    .about-us-image p{
        margin-top: 40px;
    }

    .about-us-text {
        margin-bottom: 50px;
    }
    .about-course-items {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 35px;
    }
    .about-course-item-img {
        height: auto;
    }
    .education-tutorial-items {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        margin-top: 70px;
    }
    .education-tutorial-item{
        margin: 0 auto;
        width: 70%;
    }

    .about-us-image{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-us-image img{
        width: 80%;
    }

    .about-us-image p{
        margin-top: 40px;
    }

    .about-us-text {
        margin-bottom: 50px;
    }

    .case-sides{
        flex-direction: column;
    }
    .case-right-side, .case-left-side{
        width: 90%;
    }
    .case-left-side h1 {
        font-size: 2.2rem;
        width: 70%;
        font-weight: bolder;
    }

    .case-top-info{
        flex-direction: column;
    }

    .case-sale-title{
        margin-top: 30px;
    }
    .case-sides {
        margin-top: 30px;
    }
    .case-right-side{
        margin-top: 30px;
        align-items: flex-start;
    }
}

@media (max-width: 670px){
    .point-wrapper{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 570px){
    .experience-info-wrapper img {
        width: 70%;
        height: auto;
    }

    .case-bottom {
        flex-direction: column;
    }

}
@media (max-width: 470px) {

    .dark-side-img {
        left: 35%;
    }

    .case-left-side h1 {
        font-size: 2.0rem;
    }

    .case-sale-title {
        width: 251px;
    }

    .education-tutorial-items {
        width: 80%;
    }
    .education-tutorial-image{
        width: 100%;
        height: 130px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .education-tutorial-image img{
        width: 70%;
        max-height: 130px;
    }
}
@media (max-width: 425px){
    .experience {
        max-width: 80%;
    }

    footer form button{
        width: 200px;
    }

    .experience-title {
        font-size: 35px;
    }

}
@media (max-width: 370px){
    .dark-side-img {
        left: 30%;
    }
}

