body{
    width: 100%;
    margin: 0;
    position: relative;
}

.header-banner{
    width: 30%;
    height: auto;
    margin-left: 10%;
    margin-top: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
}
.header-banner-title{
    font-size: 2.2rem;
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
}
.header-banner-text{
    font-weight: normal;
    color: #8F9193;
    margin-bottom: 30px;
    font-size: 1.2rem;
}
.header-banner-btn{
    width: 220px;
    height: 55px;
    text-align: center;
    background-color: #2D9A9F;
    border: 1px solid transparent;
    border-radius: 30px;
    line-height: 55px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.4rem;
    cursor: pointer;
}

/*Experience-start*/

.experience-wrapper{
    width: 100%;
    margin-bottom: 180px;
}

.experience{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    padding-top: 100px;
    align-items: flex-end;

}

.experience-info-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

.experience-info-wrapper img{
    max-width: 55%;
}

.experience-info{
    margin-left: 150px;
}

.experience-title{
    font-family: Pridi;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
    margin-bottom: 54px;
}

.experience-text{
    font-family: Pridi;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

.experience-add_text{
    font-family: Pridi;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-bottom: 100px;
}

.experience button{
    width: 200px;
    height: 60px;
    background-color: #3F29FF;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 100px;
    margin-right: 50px;
}

/*Experience-End*/

/*Learn-Start*/

.learn-point{
    max-width: 1200px;
    margin: 0px auto;
}

.learn-point h2{
    font-family: Pridi;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
}

.point-wrapper{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.point{
    max-width: 300px;
    margin-bottom: 80px;
}

.point img{
    width: 27px;
    height: 27px;
    margin-bottom: 20px;
}

.point-title{
    font-family: Pridi;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    margin-bottom: 20px;
}

.point-text{
    font-family: Pridi;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

/*Learn-End*/


/*Footer-start*/

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



footer h2{
    font-family: Pridi;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18px;
}


.info-footer{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}



.info-footer-wrapper{
    display: flex;
}

.info-footer-wrapper p{
    margin-right: 10px;
    font-family: Pridi;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
}

.info-footer-right{
    font-family: Pridi;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}

.made-by{
    font-family: Pridi;
    color: #FFFFFF;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.made-by img{
    margin-left: 15px;
}

/*Footer-start*/

@media (max-width: 1440px) {


    .experience-wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }

    .experience-info-wrapper img {
        max-width: 75%;
        height: 420px;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .experience-info-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 75px;
    }

    .experience-info {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .learn-point{
        padding: 20px;
    }


}

@media (max-width: 1000px) {

    .point-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {

    .experience-info-wrapper img {
        width: 70%;
        height: 300px;
    }

    .experience {
        align-items: start;
    }

}

@media (max-width: 670px){
    .point-wrapper{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 570px){
    .experience-info-wrapper img {
        width: 70%;
        height: auto;
    }
}

@media (max-width: 425px){
    footer form button{
        width: 200px;
    }

    .experience-title {
        font-size: 35px;
    }

}