body{
    width: 100%;
    margin: 0;
    position: relative;
}
/*.header-banner{*/
/*    width: 30%;*/
/*    height: auto;*/
/*    margin-left: 10%;*/
/*    margin-top: 280px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    font-family: Roboto;*/
/*}*/
/*.header-banner-title{*/
/*    font-size: 2.2rem;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*    margin-bottom: 30px;*/
/*}*/
/*.header-banner-text{*/
/*    font-weight: normal;*/
/*    color: #8F9193;*/
/*    margin-bottom: 30px;*/
/*    font-size: 1.2rem;*/
/*}*/
/*.header-banner-btn{*/
/*    width: 220px;*/
/*    height: 55px;*/
/*    text-align: center;*/
/*    background-color: #2D9A9F;*/
/*    border: 1px solid transparent;*/
/*    border-radius: 30px;*/
/*    line-height: 55px;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    letter-spacing: 1px;*/
/*    font-size: 1.4rem;*/
/*    cursor: pointer;*/
/*}*/

/*Experience-start*/

.experience-wrapper{
    width: 100%;
    margin-bottom: 180px;
}

.experience{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    padding-top: 100px;
    align-items: flex-end;

}

.experience-info-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

.experience-info-wrapper img{
    max-width: 55%;
    height: 485px;
}

.experience-info{
    margin-left: 150px;
}

.experience-title{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
    margin-bottom: 54px;
}

.experience-text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

.experience-add_text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-bottom: 100px;
}

.experience button{
    width: 200px;
    height: 60px;
    background-color: #3F29FF;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 100px;
    margin-right: 50px;
}

/*Experience-End*/

/*Learn-Start*/

.learn-point{
    max-width: 1200px;
    margin: 0px auto;
}

.learn-point h2{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
}

.point-wrapper{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.point{
    max-width: 300px;
    margin-bottom: 80px;
}

.point img{
    width: 27px;
    height: 27px;
    margin-bottom: 20px;
}

.point-title{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    margin-bottom: 20px;
}

.point-text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

/*Learn-End*/

/*About-us-Start*/

.about-us-wrapper{
    padding: 20px;
}

.about-us{
    max-width: 1200px;
    margin: 0px auto;
    background-color: #F7F7F5;
    border-radius: 30px;
    padding: 40px 20px;
}

.about-us-title{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.about-us-text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-bottom: 160px;
}

.about-us-image{
    display: flex;
}

.about-us-image img{
    width: 50%;
}

.about-us-image span {
    font-style: normal;
    font-weight: bold;
    color: #090000;
}

.about-us-image p{
    margin-top: 20px;
    margin-left: 40px;
}




/*About-us-End*/

/*Footer-start*/

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}



footer h2{
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18px;
}
.info-footer{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.info-footer-wrapper{
    display: flex;
}

.info-footer-wrapper p{
    margin-right: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
}

.info-footer-right{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}

.made-by{
    color: #FFFFFF;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.made-by img{
    margin-left: 15px;
    width: 23px;
}

.about-course-wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Montserrat;
    margin-top: 100px;
}
.about-course-title{
    max-width: 400px;
    font-size: 2.4rem;
    font-weight: bold;
}
.about-course-items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 45px;
}
.about-course-item{
    display: flex;
    flex-direction: column;
}
.about-course-item-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
}
.about-course-item-img img{
    width: 100%;
    max-width: 300px;
}
.about-course-item-title{
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: bold;
}
.about-course-item-text{
    font-size: 1rem;
    margin-top: 25px;
}
.education-tutorial-wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: rgb(36,36,36);
    background: linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(36,36,36,1) 28%, rgba(67,67,69,1) 55%);
    padding-top: 40px;
    padding-bottom: 70px;
    font-family: Montserrat;
}
.education-tutorial-title{
    color: white;
    font-size: 2rem;
    margin-left: 5%;
}
.education-tutorial-items{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 100px;
}
.education-tutorial-item{
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;

    color: white;
}
.education-tutorial-item-number img{
    width: 40px;
    padding-top: 15px;
    padding-left: 15px;
}
.education-tutorial-item-title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px;
}
.education-tutorial-text{
    height: 150px;
    padding-left: 15px;
}
.education-tutorial-image{
    width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education-tutorial-image img{
    width: 70%;
    max-height: 130px;
}
/*faq-wrapper-Start*/

.faq{
    width: 100%;
}

.faq-wrapper{
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
    margin-top: 120px;
    padding-bottom: 90px;
}

.faq-title{
    width: 35%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
   font-size: 2.8rem;
    /*line-height: 170%;*/
    color: #141313;
}

.faq-title p{
    padding: 0;
    margin: 0;
}

.faq-info-wrapper{
    width: 70%;
}

.faq-info{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #808080;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-family: Montserrat;
}
.faq-info-top-title{
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    /*line-height: 170%;*/
    color: #141313;
    font-weight: bold;

}

.faq-text{
    display: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #141313;
    width: 75%;
    margin-top: 20px;
}

.faq-info-top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-info:nth-child(1){
    border-top: 1px solid #808080;
    padding-top: 30px;
}

.faq-info-button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    transition: background-color .5s;
}
.faq-info-button img{
    width: 40px;
    height: 40px;
}
.faq-button-cancel img{
    width: 40px;
    height: 40px;
}
.faq-button-cancel{
    display: none;
    cursor: pointer;
    width:40px;
    height: 40px;
    /*border: 1px solid #EC7505;*/
    background-color: #EC7505;
    margin-right: 20px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    transition: background-color .5s;
}
.faq-button-cancel img{
    transform: rotate(45deg);
    transition: transform .5s;
}
.faq-button-cancel img{
    transition: transform .5s;
}

/*faq-wrapper-End*/

@media (max-width: 1200px) {


    /*.experience-wrapper{*/
        /*padding-left: 10px;*/
        /*padding-right: 10px;*/
    /*}*/

    .experience-info-wrapper img {
        max-width: 75%;
        height: 420px;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .experience-info-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 75px;
    }

    .experience-info {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .learn-point{
        padding: 20px;
    }
}
@media (max-width: 1024px) {
    .faq-wrapper{
        flex-direction: column;
    }
    .faq-title {
        width: 35%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 2.8rem;
        color: #141313;
        margin-bottom: 40px;
    }
    .faq-info-wrapper{
        width: 100%;
    }
}
@media (max-width: 1000px) {

    .point-wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .about-course-item-img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 230px;
    }
    .about-course-item-img img{
        width: 100%;
        max-width: 300px;
    }
    .about-course-items{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 35px;
    }
    .education-tutorial-items{
        width: 90%;
        grid-row-gap: 10px;
    }

    .education-tutorial-item-title{
        margin-top: 30px;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 15px;
    }
    .education-tutorial-text{
        height: 150px;
        padding-left: 15px;
    }
    .education-tutorial-image{
        width: 100%;
        height: 130px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .education-tutorial-image img{
        width: 70%;
        max-height: 130px;
    }
}

@media (max-width: 768px) {

    .experience-info-wrapper img {
        width: 70%;
        height: 300px;
    }

    .experience {
        align-items: start;
    }

    .about-us-image{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-us-image img{
        width: 80%;
    }

    .about-us-image p{
        margin-top: 40px;
    }

    .about-us-text {
        margin-bottom: 50px;
    }
    .about-course-items {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 35px;
    }
    .about-course-item-img {
        height: auto;
    }
    .education-tutorial-items {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        margin-top: 70px;
    }
    .education-tutorial-item{
        margin: 0 auto;
        width: 70%;
    }
}

@media (max-width: 670px){
    .point-wrapper{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 570px){
    .experience-info-wrapper img {
        width: 70%;
        height: auto;
    }
}
@media (max-width: 470px) {
    .education-tutorial-items {
        width: 80%;
    }
    .education-tutorial-image{
        width: 100%;
        height: 130px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .education-tutorial-image img{
        width: 70%;
        max-height: 130px;
    }
}
@media (max-width: 425px){
    footer form button{
        width: 200px;
    }

    .experience-title {
        font-size: 35px;
    }

}